<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- Android 12 이하에서 사용 -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- Android 13 이상에서 사용 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

    <!-- 기타 권한들 (예: 인터넷 접근, 저장소 쓰기 등 필요시 추가) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".ArPangApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Toasty"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- ar 설정 -->
        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />

        <!-- 카카오 SDK 초기화 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <!-- 카카오 로그인 콜백 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/kakao_scheme" />
            </intent-filter>
        </activity>

        <!--   페이스북     -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.sdk.AutoInitEnabled"
            android:value="false" />

        <activity
            android:name=".ui.component.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--   푸시 서비스     -->
        <service
            android:name=".ui.component.fcm.ArPangFirebaseMessageService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.component.home.MainActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.login.LoginActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.join.consent.JoinConsentActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.join.welcome.WelcomeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.join.term_privacy.PolishWebActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.ar_camera.ArCameraActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.connect_device.ConnectDeviceActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.ar_print.guide.ArGuideActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.event.EventDetailActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.ar_print.videoselect.VideoSelectActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.ar_print.videotrimmer.TrimVideoActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.empty_cartridge.EmptyCartridgeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.ar_print.edit.EditVideoPrintActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ui.component.home.tab5_more.alert.AlertActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.scrap.ScrapActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.block.BlockUserActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.alert_setting.AlertSettingActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.account.AccountManageActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.notice.NoticeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.account.name.ChangeNameActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.account.withdrawal.WithdrawalActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.search.SearchActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab2_Lib.detail.LibDetailActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.connect_cartridge.ConnectPaperActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.empty_cartridge.preview.PreViewCartridgeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.life2cut.image_select.ImageSelectActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.life2cut.edit.EditPrint2CutImageActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.life2cut.crop.CropImageActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.input_tag.InputTagActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.life2cut.preview.TwoCutPreviewActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.subscribe.SubscribeActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.notice.detail.NoticeDetailActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab3_share.detail.ShareDetailActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.festival_sticker.EditFestivalActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.label_sticker.EditLabelStickerActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.free_print.EditFreePrintActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.free_print.select.SelectFreePrintActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.free_print.preview.FreePrintPreviewActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.free_print.setting.FreePrintTagSettingActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.label_sticker.preview.LabelStickerPreviewActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.label_sticker.tag.LabelStickerTagSettingActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.festival_sticker.preview.FestivalPreviewActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.festival_sticker.tag.FestivalTagSettingActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.ar_print.preview.ArPrintPreviewActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.ar_print.tag.ArPrintTagSettingActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.subscribe.detail.SubscribeDetailActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.manual.UseManual1DepthActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.manual.UseManual2DepthActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab1_home.manual.UseManualWebDetailActivity"
            android:exported="true" />

        <activity
            android:name=".ui.component.home.tab5_more.event.EventAllActivity"
            android:exported="true" />

        <!--   자유편집 -> 이미지 크롭기능     -->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:exported="true" />
    </application>

</manifest>